<div class="container-xxl py-5 bg-primary hero-header mb-5">
  <div class="container my-5 py-5 px-lg-5">
    <div class="row g-5 py-5">
      <div class="col-lg-6 text-center text-lg-start">
        <h1 class="text-white mb-4 animated zoomIn">
          A one stop solution for all your IT needs
        </h1>
        <p class="text-white pb-3 animated zoomIn">
          Our IT support company offers a comprehensive range of services including Office 365 management, cloud computing solutions, IT infrastructure management, server and firewall configuration, and maintenance. We understand the importance of a robust and secure IT infrastructure, and our team of experts is dedicated to providing top-notch support and maintenance to ensure that your business runs smoothly and efficiently
        </p>
        <a
          href=""
          class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft"
          >Free Quote</a
        >
        <a
          href=""
          class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
          >Contact Us</a
        >
      </div>
      <div class="col-lg-6 text-center text-lg-start">
        <img class="img-fluid" src="assets/images/hero2.png" alt="" />
      </div>
    </div>
  </div>
</div>
