<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div
      class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <h6 class="position-relative d-inline text-primary ps-4">Our Services</h6>
      <h2 class="mt-2">What Solutions We Provide</h2>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div
          class="service-item d-flex flex-column justify-content-center text-center rounded"
        >
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-home fa-2x"></i>
          </div>
          <h5 class="mb-3">IT Support</h5>
          <p>
            Active IT support and resolution of IT isseus as soon as they arise
          </p>
          <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
        <div
          class="service-item d-flex flex-column justify-content-center text-center rounded"
        >
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-home fa-2x"></i>
          </div>
          <h5 class="mb-3">Cloud </h5>
          <p>
            Azure , AWS .
          </p>
          <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div
          class="service-item d-flex flex-column justify-content-center text-center rounded"
        >
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-home fa-2x"></i>
          </div>
          <h5 class="mb-3">Security</h5>
          <p>
            Cutting edge monitoring toolkits to ensure that security is top notch.
          </p>
          <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
        <div
          class="service-item d-flex flex-column justify-content-center text-center rounded"
        >
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-home fa-2x"></i>
          </div>
          <h5 class="mb-3">Bespoke Softwares</h5>
          <p>
            Tailor made software solutions tailoured for your needs.
          </p>
          <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
        <div
          class="service-item d-flex flex-column justify-content-center text-center rounded"
        >
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-home fa-2x"></i>
          </div>
          <h5 class="mb-3">Web Development</h5>
          <p>
            We ensure your online presence is as strong as your instore presence
          </p>
          <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
        <div
          class="service-item d-flex flex-column justify-content-center text-center rounded"
        >
          <div class="service-icon flex-shrink-0">
            <i class="fa fa-home fa-2x"></i>
          </div>
          <h5 class="mb-3">App Development</h5>
          <p>
            We create apps that serve your pourpose.
          </p>
          <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service End -->
