<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container-xxl bg-white p-0"> -->
<app-navigation> </app-navigation>
<app-header></app-header>
<app-full-screen-search></app-full-screen-search>
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <app-about></app-about>
  <app-newsletter></app-newsletter>
  <app-service></app-service>
  <app-portfolio></app-portfolio>
  <app-testimonial></app-testimonial>
  <app-team></app-team>
  <app-footer></app-footer> -->
<!-- Back to Top --->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"
  ><i class="bi bi-arrow-up"></i
></a>
<!-- </div> -->
