<!-- Team Start -->
<div class="container-xxl py-5">
  <div class="container px-lg-5">
    <div
      class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp"
      data-wow-delay="0.1s"
    >
      <h6 class="position-relative d-inline text-primary ps-4">Our Team</h6>
      <h2 class="mt-2">Meet Our Team Members</h2>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item">
          <div class="d-flex">
            <div
              class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
              style="width: 75px"
            >
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
            <img
              class="img-fluid rounded w-100"
              src="assets\images\kash.jpg"
              alt=""
            />
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0"> Ataul Kashif</h5>
            <small>Director</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="d-flex">
            <div
              class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
              style="width: 75px"
            >
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
            <img
              class="img-fluid rounded w-100"
              src="assets\images\team-2.jpg"
              alt=""
            />
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Mudaseer Basit</h5>
            <small>Development Head</small>
          </div>
        </div>
      </div>



      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="d-flex">
            <div
              class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
              style="width: 75px"
            >
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
            <img
              class="img-fluid rounded w-100"
              src="assets\images\team-2.jpg"
              alt=""
            />
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Mubashar Ahemed</h5>
            <small>Senior IT Specialist</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="d-flex">
            <div
              class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
              style="width: 75px"
            >
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
            <img
              class="img-fluid rounded w-100"
              src="assets\images\team-2.jpg"
              alt=""
            />
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Usama </h5>
            <small>Web devalopment</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="d-flex">
            <div
              class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
              style="width: 75px"
            >
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
            <img
              class="img-fluid rounded w-100"
              src="assets\images\team-2.jpg"
              alt=""
            />
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Hitarth Tilavat</h5>
            <small>Cloud specialist</small>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item">
          <div class="d-flex">
            <div
              class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
              style="width: 75px"
            >
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
            <img
              class="img-fluid rounded w-100"
              src="assets\images\team-2.jpg"
              alt=""
            />
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Akash Saroj</h5>
            <small>IT support manager</small>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="team-item">
          <div class="d-flex">
            <div
              class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
              style="width: 75px"
            >
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-twitter"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-instagram"></i
              ></a>
              <a class="btn btn-square text-primary bg-white my-1" href=""
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </div>
            <img
              class="img-fluid rounded w-100"
              src="assets\images\abhi.jpg"
              alt=""
            />
          </div>
          <div class="px-4 py-3">
            <h5 class="fw-bold m-0">Abhishek Veettil</h5>
            <small>Security Engineer</small>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- Team End -->
